/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background: #fff;
	border: 1px solid #c9c9c9;
	font-family: monospace;
	min-height: 600px;
	width: 500px;
}

.colors, .menu {
	float: left;
}

.colors {
	width: 250px;
}

.clearfix {
	clear: both;
	overflow: auto;
}

.theme-color {
	cursor: curser;
	font-family: monospace;
	padding: 20px;
	text-align: center;
	width: 210px;
}

.theme-color .count,
.theme-color .edit-color-wrapper {
	display: none;
}

.theme-color:hover .count,
.theme-color:hover .edit-color-wrapper {
	display: block;
	padding-top: 5px;
}

.theme-color:hover .edit-color-wrapper {
	padding: 30px 0;
}

.menu {
	padding: 0 10px;
	position: fixed;
	right: 0;
	text-align: center;
	width: 230px;
}

.css-precompiler-variables {
	padding: 10px 0 0 0;
}

.sass-variables, .less-variables {
	height: 100px;
	width: 200px;
}

.logo {
	padding: 15px 60px 5px 60px;
	font-family: monospace;
	font-size: 20px;
	color: #383838;
}

.elements-filtered {
	border-bottom: 1px solid #efefef;
}

.elements-filtered, .css-precompiler-variables {
	padding: 10px 0 10px 20px;
	text-align: left;
}

.elements-filtered input {
	margin: 10px 5px 0 0;
}

.inspected-elements {
	font-family: monospace;
	margin-bottom: 25px;
	text-align: center;
}

.variable-intro {
	margin-top: 20px;
}

.edit-color-wrapper .edit-color-input,
.edit-color-wrapper .edit-color-text {
	float: left;
}

.edit-color-wrapper .edit-color-input {
	width: 70px;
}

.edit-color-wrapper .edit-color-text {
	padding-top: 2px;
	width: 90px;
}

.gregory-mazurek {
	bottom: 0;
	padding: 25px;
	position: fixed;
}

.loading {
	background-color: white;
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	width: 500px;
}

.advanced-options-content {
	display: none;
}

.advanced-options-cta:hover .advanced-options-content {
	display: block;
}

.full-spectrum .sp-palette {
max-width: 200px;
}